.gnb {
  display: none;

  @include responsive(T) {
    @include flex;
    margin-left: 36px;
    margin-right: auto;
    gap: 20px;

    a {
      @include text-style(md);
      font-weight: 700;

      &:hover,
      &focus {
        color: $skyblue;
      }

      &.is_active {
        color: $skyblue;
      }
    }
  }
}
