.header_main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid $secondary;
  background-color: $white;
  z-index: 10;

  .header_inner {
    @include flex(between);
    height: 50px;
  }

  .btn_open_gnb {
    @include flex(between, center, column);
    width: 20px;
    height: 17px;

    span,
    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: $primary;
    }
  }

  .logo {
    @include text-style(lg);
  }

  .util_group {
    @include flex;
    @include text-style(md);
    gap: $sm-gap;

    .btn_open_search,
    .btn_go_cart {
      &:hover,
      &focus {
        color: $skyblue;
      }
    }
  }

  .user_list {
    display: none;
  }

  .posting {
    display: none;
  }

  @include responsive(T) {
    .header_inner {
      height: 80px;
    }

    .btn_open_gnb {
      display: none;
    }

    .user_list {
      @include flex;
      margin-left: 20px;

      li {
        @include flex;
        @include text-style(sm, $primary);

        & + li::before {
          content: '';
          display: inline-block;
          width: 1px;
          height: 1em;
          margin: 0 4px;
          background-color: $secondary;
        }
      }
    }

    .posting {
      $positing_class: 'pic', 'houses', 'know', 'review', 'expert', 'interior';

      display: block;

      &.is_active {
        .posting_content {
          opacity: 1;
          visibility: visible;
        }

        .posting_list {
          transform: translate3d(0, 12px, 0);
        }
      }

      .btn_open_posting {
        @include flex;
        @include text-style(sm, $white);
        flex: none;
        gap: 4px;
        height: 40px;
        padding: 0 16px;
        margin-left: 16px;
        border-radius: $radius-small;
        word-break: keep-all;
        background-color: $skyblue;

        i {
          margin-left: 4px;
        }
      }

      &_content {
        @include flex(end, start);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 1550px;
        margin: 0 auto;
        z-index: 10;
        pointer-events: none;
        opacity: 0;
        visibility: visible;
        transition: 0.2s ease-in-out;
      }

      &_list {
        transform: translate3d(0, 0, 0);
        padding: 8px;
        width: 340px;
        margin-top: 60px;
        border: 1px solid $secondary;
        border-radius: $radius-large;
        box-shadow: 0 4px 10px 0 rgb(63 71 77 / 20%);
        background-color: $white;
        pointer-events: auto;
        transition: transform 0.2s ease-in-out;
      }

      &_item {
        background: url('../../assets/images/header_posting_icon.png') no-repeat 0 0;

        @each $class in $positing_class {
          $i: index($positing_class, $class) - 1;
          &.is_#{$class} {
            background-position: 0 -70 * $i + px;
          }
        }

        &:hover {
          background-color: $tertiary;
        }

        a {
          display: block;
          padding: 15px 15px 15px 60px;
        }

        strong {
          @include text-style(sm);
        }

        p {
          @include text-style(xs, $primary);
        }
      }
    }
  }

  @include responsive(D) {
    .util_group.dt_hidden {
      display: none;
    }

    .search {
      position: relative;

      input {
        @include text-style(sm, $primary);
        width: 250px;
        line-height: 38px;
        padding-left: 36px;
        border: 1px solid $secondary;
        border-radius: $radius-small;

        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
          width: 0;
          height: 0;
        }

        &::placeholder {
          @include text-style(sm, $secondary);
        }

        &:hover {
          background-color: $tertiary;
        }

        &:focus {
          border-color: $skyblue;
        }
      }

      label {
        @include text-style(md, $primary);
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translate3d(0, -50%, 0);
      }

      .btn_delete_search {
        @include text-style(xs, $white);
        display: none;
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translate3d(0, -50%, 0);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $secondary;
      }
    }
  }
}
