.mobile_screenout {
  display: none;
  @include responsive('T') {
    display: flex;
  }
}

.mobile_screenout {
  display: none;

.section_todaydeal {
  overflow-x: scroll;
  @include responsive('T') {
    overflow-x: hidden;
  }
}