.premium_imgList {
    @include flex(center, center, row);
    flex-wrap: nowrap;
    ;

}


img {
    height: 100%;
    width: 100%;

}

.premium_inner {
    background-color: skyblue;
    height: 100;
}

li {}