.section_first {
  @include center-xy;
  flex-direction: column;
  margin: 0 3%;
}
.wrapper-top {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  @include responsive('T') {
    flex-direction: row;
  }
  .section_first-bg_top {
    background-image: url(/assets/section_first/bg/top.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    @include text-style(sm, white);

    position: relative;
    @include responsive('T') {
      flex-direction: row;
      @include text-style(rg, white);
    }
    h2 {
      position: absolute;
      top: 45%;
      left: 5%;
    }
    .p-bg {
      width: 120px;
      padding: 9px 0;
      text-align: center;
      border: 1px solid white;
      border-radius: 4px;
      position: absolute;
      top: 55%;
      left: 5%;
      @include text-style(xs);
    }
  }
}
.section_first-carousel {
  background-color: orange;
  height: 200px;
  width: 100%;
  position: relative;
  .cont-carousel {
    width: 100%;
    height: 100%;
    .carousel1 {
      background: url(/assets/section_first/carousel_img/164992755565792180.jpg) no-repeat;
    }
    .carousel2 {
      background-image: url(/assets/section_first/carousel_img/166393326465912966.jpg) no-repeat;
    }
    .carousel3 {
      background-image: url(/assets/section_first/carousel_img/166393328434624741.jpg) no-repeat;
    }
    .carousel4 {
      background-image: url(/assets/section_first/carousel_img/166452879912705926.jpg) no-repeat;
    }
  }

  .carousel-page {
    background-color: gray;
    border-radius: 10px;
    @include text-style(sm, white);
    padding: 0 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  @include responsive('T') {
    width: 40%;
    height: 100%;
    margin-left: 2rem;
  }
}

.section_first-nav {
  margin-top: 2rem;
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      width: 20%;
      @include responsive('T') {
        width: 10%;
      }
    }
    img {
      width: 100%;
    }
  }
  a {
    @include center-xy;
    display: flex;
    flex-direction: column;
    @include text-style(xs, black);
  }
}

// . {
//   @include responsive('T') {
//   }
// }

// . {
//   @include responsive('D') {
//   }
// }
