.section_todaydeal {
  @include center-xy;
}

.section_todaydeal ul a {
  // @include ani-hover;
  position: relative;
  width: 100%;
  @include flex(center, between);
  @include responsive('T') {
    @include flex(center, between, column);
  }
}

//모바일 경우 display
.section_todaydeal ul li {
  display: none;
}

.section_todaydeal ul li:first-child {
  display: inline-block;
}

.section_todaydeal ul {
  margin-bottom: 15px;
  @include responsive('T') {
    @include flex(center, space);
    gap: $lg-gap;
  }
}

.section_todaydeal ul li {
  @include responsive('T') {
    display: inline-block;
    flex-basis: 100%;
    width: 100%;
  }
}
