.section_todaydeal {
  @include center-xy;
}

.section_todaydeal ul a {
  position: relative;
  width: 100%;
  @include flex(center, between);
  @include responsive('T') {
    @include flex(center, between, column);
    &:hover img {
      transform: scale(1.05);
    }
    &:hover .productname_txt {
      @include text-style(sm, $secondary);
    }
  }
}

.img_wrap {
  overflow: hidden;
  border-radius: $radius-small;
  position: relative;
}

//모바일 경우 display
.section_todaydeal ul li {
  display: none;
}

.section_todaydeal ul li:first-child {
  display: inline-block;
  margin-left: 0;
}

.section_todaydeal ul {
  margin-bottom: 15px;
  @include responsive('T') {
    width: 100%;
  }
}

.section_todaydeal ul li {
  @include responsive('T') {
    display: block;
  }
}
