@import './utilities/variables';
@import './utilities/mixin';

@import './base/normalize';
@import './base/reset';
@import './base/globals';

@import './components/section_title';
@import './components/todaydeal_card';
@import './components/section_plus';
@import './components/todaydeal_mobile_only';
@import './components/todaypic_img';
@import './components/section_button';
@import './components/header_main';
@import './components/header_gnb';
@import './components/header_lnb';
@import './components/side_lnb';

@import './layouts/todaydeal_section';

@import './layouts/premium_section';
@import './layouts/section_first';


@import './layouts/todaypic_section';
@import './layouts/global_footer';
@import './layouts/global_header';
@import './layouts/side_menu';
@import './layouts/side_search';

@import './layouts/todaystory_section';
@import './layouts/categoric_section';

